{% extends 'base.html.twig' %}

{% block title %}Portfolio Charlie Bauduin{% endblock %}

{% block body %}



<div class="wrapper">

    <h1>Coucou les contacts</h1>

    <a href="{{path("home")}}"><button>retour</button></a>

</div>


{% endblock %}