{% extends 'base.html.twig' %}

{% block title %}Portfolio Charlie Bauduin{% endblock %}

{% block body %}

<a href="{{path("home")}}"><button>retour</button></a>

<div class="wrapper-contact">


    <div class="contact-card">

        <div class="picture-card">
        
            <img class="card-img-top" src="../public/assets/photo1.jpg" alt="Card image cap">
        
        </div>
        <div class="card-body">

            
            
            <p class="card-text"><img src="../public/assets/mail.jpg" alt="mail-picto"> : <a href="bauduincharlie@gmail.com ">bauduincharlie@gmail.com </a></p>
            <p class="card-text"><img src="../public/assets/tel.jpg" alt="tel-picto"> :  06 64 75 81 99</p>
            <p class="card-text"><img src="../public/assets/github.svg" alt="github-picto"> : <a href="https://github.com/Charliebauduin ">https://github.com/Charliebauduin </a> </p>
            <p class="card-text"><img src="../public/assets/linkedin.png" alt="linkedin-picto"> : <a href="https://www.linkedin.com/in/charlie-bauduin ">https://www.linkedin.com/in/charlie-bauduin  </a></p>
            <p class="card-text"><img src="../public/assets/Twitter.png" alt="twitter-picto"> : <a href="https://www.https://twitter.com/Charlie44787205">https://twitter.com/Charlie44787205  </a></p>

        </div>

    </div>

</div>


{% endblock %}