{% extends 'base.html.twig' %}

{% block title %}Portfolio Charlie Bauduin{% endblock %}

{% block body %}


    <div class="bio">

        <svg width="100%" height="100%" viewBox="160 -250 600 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">

            <path id="path">
                <animate attributeName="d" from="m0,110 h0" to="m0,110 h1100" dur="7s" begin="0s" repeatCount="indefinite"/>
            </path>

            <text class="texte-defil" font-size="60" font-family="Montserrat" >
                <textPath xlink:href="#path">    Hello I'm Charlie, I'm web developper
                </textPath>
            </text>

        </svg>
        

    </div>

    <div class="cv">

        <div class="cv-view">

            <a href="../public/assets/cv_charliebauduin2021.pdf"><img class="logo-cv" src="../public/assets/logo-cv.png" alt="logo-cv"></a>
            <a href="../public/assets/cv_charliebauduin2021.pdf"> <button class="view-btn">view CV</button></a> 
        
        </div>

        <div class="cv-download">

            <a href="../public/assets/cv_charliebauduin2021.pdf" download="CV"><img class="logo-cv" src="../public/assets/logo-cv.png" alt="logo-cv"></a>
            <a href="../public/assets/cv_charliebauduin2021.pdf" download="CV"> <button class="download-btn"> Download</button></a>
        
        </div>
        

    </div>


    

</div>

{% endblock %}
