{% extends 'base.html.twig' %}

{% block title %}Portfolio Charlie Bauduin{% endblock %}

{% block body %}

<h1>Coucou les realisations</h1>

<a href="{{path("home")}}"><button>retour</button></a>

{% endblock %}