
.wrapper{
background-image: url("../assets/bandeau2.jpg");
height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;

}

.navbar {
    width: 95%;
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    
}

.navbar a{
    text-decoration: none;
    color: grey;
    font-size: 4em;

}

.navbar a:hover{
    color: white;
    transform: scale(1.5);

}

.navbar-li a:hover{
    color: white;
}


nav ul {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav li{
    list-style: none;
    
}

.text-defil{
    text-align: center;
}



h1:hover{
   color: white
}

h1{
    font-size: 3em;
    color:grey;
}

button{
    height: 3em;
    margin-left: 3.5em;
    width: 10em;
    
}

button:hover{
    transform: scale(1.25);
}

a{
    text-decoration: none;
    color: black;
}



@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
body{
  margin:0;
  width:100%; 
  height:100vh;
  overflow:hidden;
  background:hsla(0, 5%, 5%, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, hsla(0, 5%,15%, 0.5), hsla(0, 5%, 5%,1));
}



.bio{
    height: 50%;
}

p{
    font-size: 2em;
    color:grey
}

.skills-list{
    list-style-type: none;
    font-size: 2em;
    color: white;
}

.skills-slider img{
    width:20%;
}


.wrapper-about{
    margin-top: 5em;
    display: flex;
    width: 100%;
    
}

.left-part{
    display: flex;
    width: 70%;
    padding:2em;
    margin-left: 2em;
    background-color:rgba(16, 11, 15, 0.5)
    
    
}

.right-part{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: center;
    margin-right: 2em;
    background-color: rgba(142, 145, 152, 0.5);
    
}

.left-part p{
    color: white;
 }
 
.left-part a{
     color: white;
     text-decoration: underline;
     
 }
 
.left-part a:hover{
 
     transform: scale(1.15);
     
 }


.cv{
    display: flex;
}

.cv-view{
width: 15%;
height: 100%;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;

}

.cv-view button{

    margin: auto;
    border-color: black;
    font-weight: bold;

}

.cv-download{
width: 15%;
height: 100%;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;

}

.cv-download button{
    margin: auto;
    border-color: black;
    font-weight: bold;
}

.cv-download button:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-view button:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-download img:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-view img:hover{
    
    border-color: white;
    transform: scale(1.25);
}



.logo-cv{
    width: 35%;
    height: 35%;
    margin-bottom: 2em;
}




.wrapper-contact{
    display: flex;
    justify-content: center;
    height: 100%;
}

.contact-card{

    height: 50%;
    display: flex;
    width: 55%;
    justify-content: center;
    background-color: white;
    margin: 3em;
    padding-top: 3em;
    padding-left: 1em;
    border: solid;

}

.picture-card{
    padding: 0.5em;
    margin-right: 1em;
    width: 25%;
}

.picture-card img{
    width: 100%;
    border: solid
}

.card-body{
    padding: 0;
    width: 75%;
    font-size: 0.8em;
}


.card-img-top{
    text-align: center;
    width: 25%;
    border-radius: 10%;
    
}

p img {

    width: 5%;

}

.picto-home{
    width: 100%;
    
}

.navbar-li-home{
    width: 5%;
}