/* ====================================== WRAPPER PART ============================================================*/
html {

    background-color: #525659;

}
.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* ====================================== BANDEAU PART ============================================================*/

.bandeau {
    
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    width: 98%;
    margin: auto;
    margin-bottom: 1em;

}

.bandeau svg {

    width: 100%;

}

/* ====================================== PARCOURS PART ============================================================*/

.parcours {

    background-color: black;
    display: flex;
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
    flex-wrap: wrap;
    

}

.parcours h1 {

    color: white;

}

.parcours-title {

    width: 100%;
    margin: 1em;

}


.parcours-left-part {

    width: 25%;
    margin-left: 1em;
    margin-bottom: 2em;
    margin-right: 2em;

}

.parcours-left-part img {

    width: 100%;


}

.parcours-right-part {

    width: 65%;
    margin-bottom: 2em;
    margin-left: 2em;

}

.parcours-right-part p {

    color: grey;

}

.parcours-right-part a {

    color: white;

}

.parcours-cv {

    display: flex;
    width: 100%;
    justify-content: flex-end;
    

}

.logo-cv {

    width: 100%;
    height: 100%;

}

.cv-view{

    width: 15%;
    height:70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.cv-view a{

    height: 50%;
    margin-bottom: 1.5em;
    
}

.cv-download{

    width: 15%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.cv-download a {

    height: 50%;
    margin-bottom: 1.5em;

}

/* ====================================== SKILLS PART ============================================================*/


.skills {
    display: flex;
    background-color: black;
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
    flex-wrap: wrap;

}

.skills-title {

    color: white;
    margin: 1em;
    width: 100%

}

.skills-left-part{
    display: flex;
    width: 75%;
    height: 50%;
    margin: 1em;

}

.skills-right-part {

    width: 20%;
    max-height: 15em;


}

.skills-right-part h1 {

    color: white;

}

.skills-list {

    font-size: 2em;
    margin-right: 2em;
    color: white;

}

.skills-list2 {

    font-size: 2em;
    color: white;

}

/* ====================================== PROJECT PART ============================================================*/

.projects {
    display: flex;
    background: linear-gradient(0deg,  #000000 30%, #ffffff 0%);
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: space-between;

}

.project-title {

    width: 100%;
    margin: 1em;

}

.project-card {

    width: 20%;
    height: 100%;
    margin-bottom: 3em;
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;

}

.project-card img {

    width: 100%;

}

.project-card-body h2{

    font-size: 1.5em;

}

.project-card-body p{

    font-size: 1em;

}


/* ====================================== CONTACT PART ============================================================*/

.contact {
    display: flex;
    background-color: black;
    width: 98%;
    margin: auto;
    margin-bottom: 2em;
    flex-wrap: wrap;

}

.contact-title {

    width: 100%;
    margin: 1em;

}

.contact-title h1 {

    color: white;
    

}

.contact-picture {

    width: 30%;
    margin-left: 1em;
    margin-bottom: 2em;

}

.contact-picture img {

    width: 90%;
    margin-top: 0.8em;
    height: 90%;
    margin-bottom: 2em;

}

.contact-card {

    background-color: black;
    height: 50%;
    display: flex;
    width: 55%;
    justify-content: center;
    border: solid, white;
    margin-bottom: 2em;
    

}

.contact-card a {

    color: white

}

.card-body {

    width: 75%;
    font-size: 0.8em;
    margin-top: 5em;

}

h1:hover {

    color: white

}
 
h1 {

     font-size: 3em;

}
 
button {

     height: 3em;
     margin-left: 3.5em;
     width: 10em;
     
}
 
button:hover {

     transform: scale(1.25);

}
 
 a {

     text-decoration: none;
     color: black;

 }



p{

    font-size: 2em;
    color:grey

}



.skills-slider img{

    width:30%;

}



/* .navbar {
    width: 95%;
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    
}

.navbar a{
    text-decoration: none;
    color: grey;
    font-size: 4em;

}

.navbar a:hover{
    color: white;
    transform: scale(1.5);

}

.navbar-li a:hover{
    color: white;
}

/* .bio{
    height: 50%;
} */

nav ul {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav li{
    list-style: none;
    
} */

/* .text-defil{
    text-align: center;
}







/* @import url(https://fonts.googleapis.com/css?family=Montserrat:700);
body{
  margin:0;
  width:100%; 
  height:20%;
  overflow:hidden;
  background:hsla(0, 5%, 5%, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, hsla(0, 5%,15%, 0.5), hsla(0, 5%, 5%,1));
} */






.wrapper-about{
    margin-top: 5em;
    display: flex;
    width: 100%;
    
}

.left-part{
    display: flex;
    width: 70%;
    padding:2em;
    margin-left: 2em;
    background-color:rgba(16, 11, 15, 0.5)
    
    
}

.right-part{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: center;
    margin-right: 2em;
    background-color: black;
    
}

.left-part p{
    color: white;
 }
 
.left-part a{
     color: white;
     text-decoration: underline;
     
 }
 
.left-part a:hover{
 
     transform: scale(1.15);
     
 }


.cv{
    display: flex;
}



.cv-view button{

    margin: auto;
    border-color: black;
    font-weight: bold;

}


.cv-download button{
    margin: auto;
    border-color: black;
    font-weight: bold;
}

.cv-download button:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-view button:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-download img:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-view img:hover{
    
    border-color: white;
    transform: scale(1.25);
}


.wrapper-contact{
    display: flex;
    justify-content: center;
    height: 100%;
}


.picture-card{
    padding: 0.5em;
    margin-right: 1em;
    width: 25%;
}

.picture-card img{
    width: 100%;
    border: solid
}





p img {

    width: 5%;

}

.picto-home{
    width: 100%;
    
}

.navbar-li-home{
    width: 5%;
} 

/* viewBox="160 -250 600 500" */