/* ====================================== WRAPPER PART ============================================================*/

html {

    background-color: #525659;
    
}
.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
    margin: auto;

}

/* ====================================== BANDEAU PART ============================================================*/

.bandeau {
    
    display: flex;
    background-image: url("../assets/bandeau3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 98%;
    height: 30em;
    margin: auto;
    margin-bottom: 1em;
    justify-content: space-around;
    box-shadow: 5px 5px 5px grey;
    

}

.bandeau-svg {

    display: flex;
    width: 75%;
    margin: auto;
    
}


.texte-defil {

    font-size: 2em;

}

@media screen and (max-width:450px) {

    .bandeau {

        width: 100%;

    }
    
}

/* ====================================== PARCOURS PART ============================================================*/

.parcours {

    background-color: black;
    display: flex;
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px grey;
    

}

.parcours h1 {

    color: white;

}

.parcours-title {

    width: 100%;
    margin: 3em;

}


.parcours-left-part {

    width: 25%;
    margin-left: 1em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 3em;

}

.parcours-left-part img {

    width: 100%;


}

.parcours-right-part {

    width: 60%;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 3em;

}

.parcours-right-part p {

    color: grey;

}

.parcours-right-part a {

    color: white;

}

.parcours-cv {

    display: flex;
    width: 100%;
    justify-content: flex-end;
    

}

.logo-cv {

    width: 50%;
    height: 50%;

}

.cv-view{

    width: 15%;
    height:70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 2em;
    
}

.cv-view a{

    height: 25%;
    margin-bottom: 1.5em;
    
}

.cv-download{

    width: 15%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.cv-download a {

    height: 25%;
    margin-bottom: 1.5em;

}

.parcours .cv-view button {

    color:white;
    background-color: black;
    border: white solid 2px;

}

.parcours .cv-download button {

    color:white;
    background-color: black;
    border: white solid 2px;

}

@media  only screen and (max-width: 450px) {

    .parcours {

        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    .parcours-title {

        width: 100%;
        margin-left: 0;
        text-align: center;

    }

    .parcours-left-part {

        display: flex;
        
        width: 100%;
        margin: 0;


    }

    .parcours-left-part img {

        margin: auto;

    }

    .parcours-right-part {

        width: 100%;
        padding: 1em;
        margin: 0;

    }

    .parcours-right-part p{

        padding: 2em;
        

    }

    .parcours-cv {

        width: 100%;
        justify-content: center;


    }

    .cv-view {

        width: 25%;

    }

    .cv-download {

        width: 25%;

    }
    
}

/* ====================================== SKILLS PART ============================================================*/


.skills {

    display: flex;
    background-color: black;
    width: 98%;
    height: 25em;
    margin: auto;
    margin-bottom: 1em;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px grey;

}

.skills-title {

    color: white;
    margin: 3em;
    width: 100%

}

.skills-left-part{
    display: flex;
    width: 60%;
    height: 50%;
    margin: 1em;
    border-right: solid #525659 2px;
    margin-left:3em;
}

.skills-right-part {

    width: 30%;
    max-height: 15em;
    text-align: center;
    margin-top: 1em;
    margin-right: 3em;
    


}

.skills-right-part h1 {

    color: white;
    margin-bottom: 1em;

}

.skills-list {

    font-size: 2em;
    margin-right: 2em;
    color: white;
    

}

.skills-list li {

    line-height: 1.5em;

}

.skills-list2 {

    font-size: 2em;
    color: white;
    margin-right: 2em;

}

.skills-list2 li {

    line-height: 1.5em;

}

.skills-list3 {

    font-size: 2em;
    color: white;

}

.skills-list3 li {

    line-height: 1.5em;

}

@media screen and (max-width:450px){

    .skills {
        height: auto;
        width: 100%;
    }

    .skills-title {

        text-align: center;

    }

    .skills-left-part{

        flex-direction: column;
        border:none;
        width: 100%;
        margin: auto;
        
    }

    .skills-list, .skills-list2, .skills-list3 {

        font-size: 1.25em;
        margin-right:0;
        text-align: center;

    }

    .skills-right-part {

        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 12em;
        margin-top: 2em;

    }
    
}

/* ====================================== PROJECT PART ============================================================*/

.projects {
    display: flex;
    background: linear-gradient(0deg,  #000000 35%, #ffffff 0%);
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 5px 5px 5px grey;

}

.project-title {

    width: 100%;
    margin: 3em;

}

.projects-list {

    display: flex;
    width: 100%;

}

.project-card {

    width: 25%;
    margin-bottom: 1.5em;
    background-color: white;
    margin-left: 3em;
    margin-right: 3em;
    box-shadow: 5px 5px 5px gray;

}

.project-card:hover {

    transform: scale(1.05);

}

.project-card img {

    width: 100%;

}

.project-card-body h2{

    font-size: 1.5em;

}

.project-card-body p{

    font-size: 1em;

}

.project-view-all {

    display: flex;
    width: 100%;
    margin-bottom: 1em;
    justify-content: flex-end;

}

.project-view-all button {

    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 3em;

}

@media screen and (max-width:450px) {

    .projects {

        width: 100%;

    }

    .project-title {

        width: 100%;
        text-align: center;
        margin: 3em auto 3em auto;
    }

    .projects-list {

        width: 100%;
        display: flex;
        

    }

    .project-card {

        width:25%;
    }

    

    .project-list:first-child {

        display: block;
        

    }


}


/* ====================================== CONTACT PART ============================================================*/

.contact {
    display: flex;
    background-color: black;
    width: 98%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 5px 5px 5px grey;

}

.contact-title {

    width: 100%;
    margin: 1em;
    margin: 3em;

}

.contact-title h1 {

    color: white;
    

}

.contact-picture {

    width: 30%;
    margin-left: 3em;
    margin-bottom: 2em;
    border-right: solid #525659 2px;

}

.contact-picture img {

    width: 90%;
    margin-top: 0.8em;
    height: 90%;
    margin-bottom: 2em;

}

.contact-card {

    background-color: black;
    height: 50%;
    display: flex;
    width: 55%;
    justify-content: center;
    border: solid, white;
    margin-bottom: 2em;
    

}

.contact-card a {

    color: white

}

.card-text :hover {

    font-size: 1em;
    color: red;
   
}

.card-body {

    width: 75%;
    font-size: 0.8em;
    margin-top: 5em;

}

@media screen and (max-width:450px) {

    .contact {
        width: 100%;
    }
    
}

h1:hover {

    color: white

}
 
h1 {

     font-size: 3em;

}
 
button {

     height: 3em;
     margin-left: 3.5em;
     width: 10em;
     
}
 
button:hover {

     transform: scale(1.25);

}
 
 a {

     text-decoration: none;
     color: black;

 }







.skills-slider img{

    width:30%;

}



/* .navbar {
    width: 95%;
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    
}

.navbar a{
    text-decoration: none;
    color: grey;
    font-size: 4em;

}

.navbar a:hover{
    color: white;
    transform: scale(1.5);

}

.navbar-li a:hover{
    color: white;
}

/* .bio{
    height: 50%;
} */

nav ul {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav li{
    list-style: none;
    
} */

/* .text-defil{
    text-align: center;
}







/* @import url(https://fonts.googleapis.com/css?family=Montserrat:700);
body{
  margin:0;
  width:100%; 
  height:20%;
  overflow:hidden;
  background:hsla(0, 5%, 5%, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, hsla(0, 5%,15%, 0.5), hsla(0, 5%, 5%,1));
} */






.wrapper-about{
    margin-top: 5em;
    display: flex;
    width: 100%;
    
}

.left-part{
    display: flex;
    width: 70%;
    padding:2em;
    margin-left: 2em;
    background-color:rgba(16, 11, 15, 0.5)
    
    
}

.right-part{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: center;
    margin-right: 2em;
    background-color: black;
    
}

.left-part p{
    color: white;
 }
 
.left-part a{
     color: white;
     text-decoration: underline;
     
 }
 
.left-part a:hover{
 
     transform: scale(1.15);
     
 }


.cv{
    display: flex;
}



.cv-view button{

    margin: auto;
    border-color: black;
    font-weight: bold;

}


.cv-download button{
    margin: auto;
    border-color: black;
    font-weight: bold;
}

.cv-download button:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-view button:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-download img:hover{
    
    border-color: white;
    transform: scale(1.25);
}

.cv-view img:hover{
    
    border-color: white;
    transform: scale(1.25);
}


.wrapper-contact{
    display: flex;
    justify-content: center;
    height: 100%;
}


.picture-card{
    padding: 0.5em;
    margin-right: 1em;
    width: 25%;
}

.picture-card img{
    width: 100%;
    border: solid
}





p img {

    width: 5%;

}

.picto-home{
    width: 100%;
    
}

.navbar-li-home{
    width: 5%;
} 

/* viewBox="160 -250 600 500" */